
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/backend.css') 
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")    
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
        
        script.
            $(document).ready(function(){
                var lang = !{JSON.stringify(lang)}
                var countries = !{JSON.stringify(countries)}
                var institutions = !{JSON.stringify(institutions)}
                var neighborhoods = !{JSON.stringify(neighborhoods)}
                var continents = !{JSON.stringify(continents)}

            for(var i=1; i<7; i++){
                $("#endangermentNum").append(new Option(i,i))
            }
            console.log(continents);
            // Continent Slector
            for(var i=0; i<continents.length; i++){
                $(".continents").first().
                append(
                    new Option(continents[i].properties.CONTINENT,continents[i]._id, 
                        false, continents[i]._id === lang.continents[0] ? true : false))
                // console.log("append")
            }
            for(var i=0; i<countries.length; i++){
                $(".countries").first()
                .append(
                    new Option(countries[i].properties.ADMIN,countries[i]._id,
                        false, countries[i]._id === lang.countries[0] ? true : false));
            }
            
            console.log(institutions.length)
            for(var i=0; i<institutions.length; i++){
                $(".institutions").first().append(
                    new Option(institutions[i].properties.institution,institutions[i]._id,
                        false, institutions[i]._id === lang.properties.institutions[0] ? true : false));
                
            }
            for(var i=0; i<neighborhoods.length; i++){
                $(".neighborhoods").first().append(
                    new Option(neighborhoods[i].properties.NTAName, neighborhoods[i]._id,
                        false, neighborhoods[i]._id === lang.neighborhoods[0] ? true : false));
            }
            })

    body
        block content
            h1= title
            div
                p Use this form to edit the fields of an entry in the languages collection of the database.
                p Click the "update" button next to the field you have edited to confirm a change.

            form#formAddLanguage(name="addlang", method="post", action="/addlanguage")
                div
                    input#inputHID(type="text", placeholder="ISO 639-3 Code", readonly)
                    input#inputHID(type="text", name="hid", value= lang.hid)
                div
                    input#inputGlottocode(type="text", placeholder="Glottocode", readonly)
                    input#inputGlottocode(type="text", name="glottocode", value = lang.id)
                div
                    input#inputLanguage(type="text", placeholder="Language", readonly)
                    input#inputLanguage(type="text", name="language", value = lang.language)
                div
                    input#inputLanguage(type="text", placeholder="Description", readonly)
                    input#inputLanguage(type="text", name="description", value = lang.description)
                div
                    input#inputEndonym(type="text", placeholder="Endonym", readonly)
                    input#inputEndonym(type="text", name="endonym", value = lang.script)
                div
                    input#inputEndonym(type="text", placeholder="Latitude", readonly)
                    input#inputEndonym(type="text", name="latitude", value = lang.latitude)
                div
                    input#inputEndonym(type="text", placeholder="Longitude", readonly)
                    input#inputEndonym(type="text", name="longitude", value = lang.longitude)
                div
                    input#inputEndangermentNum(type="text", placeholder="EndangermentNum", readonly)
                    select(id="endangermentNum", name="endangermentNum")

                div
                    input#inputCountries(type="text", placeholder="Countries", readonly)
                    select(class="countries", name="countries")
                    button(ref="countries", onclick="remove(this)", type="button") X
                    button(ref="countries", onclick="add(this.getAttribute('ref'), $(this).prev(), this)", type="button") Add

                div
                    input#inputContinents(type="text", placeholder="Continents", readonly)
                    select(class="continents", name="continents")
                    button(ref="continents", onclick="remove(this)", type="button") X
                    button(ref="continents", onclick="add(this.getAttribute('ref'), $(this).prev(), this)", type="button") Add

                div
                    input#inputNeighborhoods(type="text", placeholder="Neighborhoods", readonly)
                    select(class="neighborhoods", name="neighborhoods")
                    button(ref="neighborhoods", onclick="remove(this)", type="button") X
                    button(ref="neighborhoods", onclick="add(this.getAttribute('ref'), $(this).prev(), this)", type="button") Add
                
                div
                    input#inputInstitutions(type="text", placeholder="Institutions", readonly)
                    select(class="institutions", name="institutions")
                    button(ref="institutions", onclick="remove(this)", type="button") X
                    button(ref="institutions", onclick="add(this.getAttribute('ref'), $(this).prev(), this)", type="button") Add

                button#btnSubmit(type="submit" onclick="log()") submit
