
doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/backend.css') 
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")    
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
        
        style(type="text/css").
            .field{
              width:250px;
            }

            input.desc{
              display:inline-block;
              vertical-align:top;
              height:50px;
            }
            .field.desc{
              display:inline-block;
              vertical-align:top;
              font-family: sans-serif;
              font-size:11px;
              padding:2.5px;
              width:250px;
              height:50px;
              border:1px solid #cccccc;
              overflow-y:scroll;
            }
        script.
            $(document).ready(function(){
                $("button").click(function() {
                        var thisclass = $(this).attr("class");
                        $('.'+thisclass).css("visibility","visible");
                });
                var countries = !{countries};
                var institutions = !{institutions};
                var neighborhoods = !{neighborhoods};
                var continents = !{continents};
                console.log(institutions)
                console.log(neighborhoods)
                //Endangerment Selector
                for(var i=1; i<7; i++){
                    $("#endangermentNum").append(new Option(i,i))
                }
                console.log(continents);
                // Continent Slector
                for(var i=0; i<continents.length; i++){
                    $(".continents").first().
                    append(new Option(continents[i].properties.CONTINENT,continents[i]._id))
                    .append();
                }
                for(var i=0; i<countries.length; i++){
                    $(".countries").first()
                    .append(new Option(countries[i].properties.ADMIN,countries[i]._id));
                }
                
                console.log(institutions.length)
                for(var i=0; i<institutions.length; i++){
                    try{
                        $(".institutions").first().append(
                            new Option(institutions[i].properties.institution,institutions[i]._id));
                    }
                    catch(error){
                        console.error(error)
                        console.log(institutions[i])
                    }
                }
                for(var i=0; i<neighborhoods.length; i++){
                    $(".neighborhoods").first().append(
                        new Option(neighborhoods[i].properties.NTAName, neighborhoods[i]._id));
                }
                    
            })

            var add = function(ref, removeBtn, self){
                var toAdd = $('.'+ref).first().clone();
                $(toAdd).insertBefore(self);
                $(removeBtn.clone()).insertBefore(self);
            }
            var remove = function(button){
                let self = $(button);
                if ($('.'+self.attr('ref')).length > 1){
                    self.prev().remove();
                    self.remove();
                } else {
                    console.log("Please submit at least 1 entry for '"+self.attr('ref')+"'");
                }
            }
            var log = function(){
                var str = $('#formAddLanguage').serializeArray()
                // console.log(JSON.stringify(str))
                const object = JSON.parse(JSON.stringify(str))
                console.dir(object, {depth: null, colors: true})
            }

    body
        block content
            h1= title
            div 
                p Use this form to add a new entry to the collection of languages in the database.
                
            form#formAddLanguage(name="addlang", method="post", action="/addlanguage")
                div
                    input(type="text", placeholder="ISO 639-3 Code", readonly)
                    input.field(type="text", name="hid")
                div
                    input(type="text", placeholder="Glottocode", readonly)
                    input.field(type="text", name="id")
                div
                    input(type="text", placeholder="Language", readonly)
                    input.field(type="text", name="language")
                div
                    input.desc(type="text", placeholder="Description", readonly)
                    textarea.field.desc(name="description", wrap="soft")
                div
                    input(type="text", placeholder="Endonym", readonly)
                    input.field(type="text", name="endonym")
                div
                    input(type="text", placeholder="Video URL", readonly)
                    input.field(id="videoURL", name="videoURL")
                div
                    input(type="text", placeholder="Link", readonly)
                    input.field(id="link", name="link")
                div
                    input#inputEndangermentNum(type="text", placeholder="EndangermentNum", readonly)
                    select(class="field", id="endangermentNum", name="endangermentNum")

                div
                    input#inputCountries(type="text", placeholder="Countries", readonly)
                    select(class="countries field", name="countries")
                    button(ref="countries", onclick="remove(this)", type="button") X
                    button(ref="countries", onclick="add(this.getAttribute('ref'), $(this).prev(), this)", type="button") Add

                div
                    input#inputContinents(type="text", placeholder="Continents", readonly)
                    select(class="continents field", name="continents")
                    button(ref="continents", onclick="remove(this)", type="button") X
                    button(ref="continents", onclick="add(this.getAttribute('ref'), $(this).prev(), this)", type="button") Add

                div
                    input#inputNeighborhoods(type="text", placeholder="Neighborhoods", readonly)
                    select(class="neighborhoods field", name="neighborhoods")
                    button(ref="neighborhoods", onclick="remove(this)", type="button") X
                    button(ref="neighborhoods", onclick="add(this.getAttribute('ref'), $(this).prev(), this)", type="button") Add
                
                div
                    input#inputInstitutions(type="text", placeholder="Institutions", readonly)
                    select(class="institutions field", name="institutions")
                    button(ref="institutions", onclick="remove(this)", type="button") X
                    button(ref="institutions", onclick="add(this.getAttribute('ref'), $(this).prev(), this)", type="button") Add

                button#btnSubmit(type="submit" onclick="log()") submit



















